<div class="card">
  <div class="card-body">
      <h1 class="card-title">PromoMash</h1>
      <form>          
          <br>
          <div class="mb-3 row">
              <div class="col-md-1">         
                <button class="btn btn-info" (click)="login()">Login</button> 
                <button class="btn btn-info" (click)="register()">Register</button>  
              </div>
          </div>
      </form>
  </div>
</div>

<main class="container pt-3">
  <router-outlet></router-outlet>
</main>
